@import '../../../variables';

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .registration-module-footer-container {
        .footer-left-container {
            font-size: 0.8rem;
        }
    }
}

.registration-module-footer-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 4%;
    padding: 0 10px;

    .footer-left-container {
        cursor: default;
        font-family: HelveticaNeue;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: #656565;
        font-size: 1rem;
        p {
            img {
                margin: 0 5px;
            }
        }
    }

    .footer-right-container {
        display: flex;
        .login-list {
            display: flex;
            list-style: none;
            font-family: HelveticaNeue;
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: right;
            color: $color-lightGray;
            margin: 0;

            nav {
                a {
                    li {
                        padding: 0;
                        font-size: 1rem;
                        font-weight: 300;
                        color: $color-lightGray;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.2;
                        letter-spacing: normal;
                        margin: 0 0 0 20px;
                    }
                }
            }
        }
    }
}