@import '../../../variables';
@import '../../../extends';

.ticket-table-chart-container {
  transition: 0.5s;
}
.collapsed-chart-section {
  height: 11%;
  overflow: hidden;
}
.expanded-chart-section {
  height: 48%;
  overflow: hidden;
}
#chart-bar{
    height: 50px;
    border: 1px solid $color-white;
    // margin: 1%;
    display: none;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed $color-lightGray;
    border-radius: 50px;
    div {
      color: $color-strongPurple;
    }
}

#chart-bar.chartClosed{
  display: flex;
}

#chartOpened{
  display: block;
}

#chartOpened.chartOpened{
  display: block;
}

.chart-bar-opened{
  margin: 1%;
  .label{
    color: $color-thickGray;
    font-family: 'helveticaNeueCondensedBold';
    font-size: 20px;
  }
  .icons{
    width: 80px;
    img{
      cursor: pointer;
      width: 14px;
      height: 14px;
    }
  }
}

.charts-text{
    margin-left: 1%;
    margin-top:0%;
    color: $color-thickGray;
    font-size: 15px;
    font-weight: 900;
    p{
        font-size: 18px;
        margin-bottom: 0px!important;
    }
}


.charts-icon1-text, .charts-icon2-text, .charts-icon3-text, .charts-icon4-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.charts-icon1-text, .charts-icon2-text, .charts-icon3-text{
    img{
        width: 25px;
    }
}

.charts-icon4-text{
    img{
        width: 20px;
    }
}


.charts-drop-down-icon{
    margin-right: 2%;
    cursor: pointer;
}

.charts-icon1-text, .charts-icon2-text, .charts-icon3-text, .charts-icon4-text{
    p{
        margin-left: 5px;
        margin-top: 5px;
        font-weight: 900;
        color: $color-strongPurple;
        margin-bottom: 0px!important;
    }
    span{
        margin-top: 3px;
        margin-left: 3px;
        color: $color-muzliColor;
        font-size: 15px;
    }
}

#allTicketsRadialChartContainer{
  position: relative;
  width: 200px;
  height: 240px;
  box-shadow: 0px 1px 5px $color-thickWhite;
  border-radius: 12px;
  #allTicketsRadialChart{
    padding-top: 28px;
  }
  >:first-child{
    position: absolute;width: 100%;top: 0px;
    left: 0px;
    padding: 3px 10px;
    label{
      font-size: 18px;
    }
  }
  .chartLabels{
    padding: 0px 10px;
    label{
      font-size: 10px;
    }
    .resolved,.inProcess,.due{
      span{
        width: 8px;height:8px;
        border-radius: 50%;
        border: 2px solid #249efa;
        display: inline-block;
      }
    }
    .inProcess {
      span{
        border: 2px solid #fdba3a;
      }
    }
    .due {
      span{
        border: 2px solid #fd5f76;
      }
    }
  }
}

#ticketsGrowthAreaChartContainer{
  position: relative;
  width: 200px;
  height: 240px;
  box-shadow: 0px 1px 5px $color-thickWhite;
  border-radius: 12px;
  padding: 10px 0;
  >:first-child{
    text-align: right;
  }
}

#assignedGraphsContainer{
  position: relative;
  width: 200px;
  height: 240px;
  >div{
    width: 100%;
    height: 48%;
    box-shadow: 0px 1px 5px $color-thickWhite;
    border-radius: 12px;
    >div:first-child{
      position: absolute;
      top: 10px;
      left: 0px;
      width: 100%;
      text-align: right;
    }
  }
  >div:last-child{
    margin-top: 4%;
  }
}

#fromOriginPointGraphContainer{
  position: relative;
  width: 320px;
  height: 240px;
  >div{
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 5px $color-thickWhite;
    border-radius: 12px;
    padding: 6px;
    .down{
      margin-top: 2px;
      border-top: 1px solid $color-darkWhite;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      >div{
        width: 140px;
        font-size: 8px;
        font-weight: 600;
        color: $color-thickGray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 22px;
        position: relative;
        >label{
          display: inline-block;
          width: 100%;
          height: 3px;
          background-color: $color-darkWhite;
          border-radius: 3px;
          margin: 0px;
        }
        >label:last-child{
          position: absolute;
          bottom: 3px;
          &.purple{
            background-color: $color-purple;
          }
          &.green{
            background-color: $color-green;
          }
          &.orange{
            background-color: $color-orange;
          }
          &.pink{
            background-color: $color-pink;
          }
        }
      }
    }
    .top{
      height: 180px;
      @extend %d-flex-align-justify-center;
      >div:first-child{
        width: 110px;
        height: 100%;
        line-height: 1;
        position: relative;
        >label{
          color: $color-thickGray;
          font-size: 10px;
          width: 100%;
          display: inline-block;
          font-weight: bold;
          line-height: 1;
          &:first-child{
            font-family: 'helveticaNeueCondensedBold';
            font-size: 30px;
          }
          &.areaChartLabel{
            margin: 14px 0;
            &.up{
              color: $color-light-green;
            }
            &.down{
              color: $color-red;
            }
            > img{
              width: 8px;
            }
            >label{
              color: $color-thickGray;
              font-size: 10px;
              font-weight: bold;
            }
          }
          &:last-child{
            font-size: 9px;
            font-weight: bold;
            color: $color-thickGray;
            cursor: pointer;
            padding:5px;
            text-align: center;
            border: 1px solid $color-lightSkyBlue;
            border-radius: 14px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            margin: 0px;
          }
        }
      }
    }
  }
}

.apexcharts-title-text{
  font-weight : bold !important;
}

.areaChartLabel{
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  padding-right: 20px;
  &.up{
    color: $color-light-green;
  }
  &.down{
    color: $color-red;
  }
  >img{
    width: 10px;
    height: 10px;
    margin: 0px;
    margin-right: 4px;
  }
  label{
    margin: 0px;
    font-weight: normal;
    color: $color-lightGray;
  }
}
