@import '../../../../variables';


.bulk-update-drawer-bodySection {
    // width: 100%;
    width: 55%;
    background-color: #fff;
}

.bulk-update-drawer {
    width: 100%;
    background-color: transparent;

    .MuiDrawer-paperAnchorRight {
        // width: 35%;
        width: 100%;
        background: transparent;
    }

    .drawer-full-width {
        width: 100%;
    }
}

.MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.MuiPaper-elevation16 {
    box-shadow: none !important;
}

.bulk-update {
    margin-top: 5%;
    width: 95%;
    height: auto;
    // border: 1px solid red;
    margin: 5% auto;
}

.bulk-update-header-text {
    p {
        font-size: 18px;
        font-weight: bolder;
        color: $color-dimGray;
        margin-left: 10px;
    }
}

.bulk-update-drop-down-search {
    width: 100%;
    display: flex;
    margin-left: 10px;
    margin-top: 4%;
}



/////////////////////////////////////////////
//////////////////////////////////////////////@at-root///////@at-root
///////////////////////////////////////////

.bulk-ticket-menu-item {
    .MuiInput-underline:before {
        border-bottom: none !important;
        height: 30px !important;
    }
}

.bulk-ticket-menu-item {
    .MuiInput-underline:after {
        border-bottom: none !important;
    }
}

.bulk-ticket-menu-item {
    .MuiInput-underline:hover:not(.Mui-disabled):before {
        border-bottom: none !important;
    }
}

.bulk-ticket-menu-item {
    .MuiInput-root {
        .MuiSelect-select {
            padding: 5px;
            font-size: 15px;
        }
    }
}


.bulk-update-drop-down-search {
    .MuiFormControl-root {
        width: 25%;
        height: 35px;

    }
}


.bulk-ticket-menu-item {
    .MuiInputBase-root {
        width: 100%;
        border: 1px solid $color-lightGray;
        border-radius: 20px;

    }
}

.bulk-update-drop-down-search {
    .MuiFormControl-root {
        .MuiInputLabel-formControl {
            top: -16px;
            left: 6px;
            font-size: 15px;
        }
    }
}

//////////////////Status


.bulk-update-ticket-menu-item {
    .MuiInput-underline:before {
        border-bottom: none !important;
    }
}

.bulk-update-ticket-menu-item {
    .MuiInput-underline:after {
        border-bottom: none !important;
    }
}

.bulk-update-ticket-menu-item {
    .MuiInput-underline:hover:not(.Mui-disabled):before {
        border-bottom: none !important;
    }
}

.bulk-update-ticket-menu-item>.MuiInput-root>.MuiSelect-select {
    font-size: 15px;
}


.bulk-update-list-container {
    .MuiFormControl-root {
        margin-left: 2%;
        margin-top: 5%;
        width: 90%;
        height: 35px;

    }
}


.bulk-update-ticket-menu-item {
    .MuiInputBase-root {
        width: 100%;
        border: 1px solid $color-lightGray;
        border-radius: 20px;
        padding-left: 10px;
    }
}

.bulk-update-list-container {
    .MuiFormControl-root {
        .MuiInputLabel-formControl {
            top: -12px;
            left: 12px;
            font-size: 15px;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////

.bulk-update-drop-down-search {
    .dropdown-button {
        .btn {
            color: $color-thickGray;
            font-size: 12px;
            border: 1px dashed $color-lightGray;
            border-radius: 20px;
            box-shadow: none !important;
            padding: 6px !important;
            margin: 0px !important;
        }
    }
}

.bulk-update-drop-down-search {
    .header-search {
        width: 75%;
        padding-top: 0px !important;
        margin-left: 0%;
    }
}

.bulk-update-drop-down-search {
    .header-search {
        .search-bar {
            width: 80%;
            margin-left: 5%;
            border: 1px solid $color-darkWhite;
        }
    }
}

.bulk-update-drop-down-search {
    .header-search {
        .search-bar {
            .MuiInputBase-root {
                .MuiInputBase-input {
                    font-size: 14px;
                    padding: 6px 10px 7px;
                }

            }
        }
    }
}

.bulk-update-drop-down-search {
    .header-search {
        .search-bar {
            .search-icon {
                .MuiSvgIcon-root {
                    font-size: 1.7rem;
                    padding-top: 5px;
                }
            }
        }
    }
}

.bulk-update-licensing {
    width: 88%;
    height: 50px;
    border: 1px dashed $color-skyBlue;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 8%;
    display: flex;
}

.bulk-update-licensing2 {
    width: 88%;
    height: 50px;
    border: 1px dashed $color-skyBlue;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 4%;
    display: flex;
}

.licensing-icon {
    width: 6%;
    margin: 10px auto;
}

.phone-number-text {
    width: 16%;
    margin: 10px auto;
}

.licensing-text {
    width: 65%;
    margin: 10px auto;
}

.licensing-icon>img {
    width: 15px;
    margin: 5px auto;
}

.phone-number-text>p {
    margin: 0px !important;
    color: $color-lightGray;
}

.phone-number-text-one {
    font-size: 10px;
    font-weight: bolder;
}

.phone-number-text-two {
    font-size: 8px;
}

.licensing-text {
    p {
        margin: 0px !important;
        color: $color-thickGray;
        font-size: 11px;
    }
}

.licensing-img-text {
    display: flex;
}

.licensing-img-text {
    img {
        width: 18px;
        height: 18px;
        border-radius: 10px;
        margin-right: 5px;
    }
}

.licensing-img-text {
    p {
        margin-top: 2px !important;
        margin-left: 1px !important;
        font-size: 9px;
    }
}

.bulk-status-container {
    width: 88%;
    margin-top: 9%;
    margin-left: 10px;
}

.bulk-status-container-two,
.bulk-department-container,
.bulk-assign-to-container,
.bulk-manager-container,
.bulk-team-container {
    width: 88%;
    margin-top: 4%;
    margin-left: 10px;
}

.bulk-status-container>.drop-down,
.bulk-status-container-two>.drop-down {
    width: 100%;
}

.bulk-manager-container>.drop-down,
.bulk-assign-to-container>.drop-down,
.bulk-department-container>.drop-down,
.bulk-team-container>.drop-down {
    width: 100%;
}

.bulk-status-container {
    .dropdown-button {
        .btn {
            width: 100%;
            height: 40px;
            margin-left: 1%;
            text-align: left;
            font-size: 13px;
            color: $color-thickGray;
            border: 1px solid $color-lightGray;
            border-radius: 20px;
            box-shadow: none !important;
            padding: 10px 10px !important;
        }
    }
}

.bulk-status-container-two {
    .dropdown-button {
        .btn {
            width: 100%;
            height: 40px;
            margin-left: 1%;
            text-align: left;
            font-size: 13px;
            color: $color-thickGray;
            border: 1px solid $color-lightGray;
            border-radius: 20px;
            box-shadow: none !important;
            padding: 10px 10px !important;
        }

    }
}

.bulk-status-container>.dropdown-button>.btn:hover,
.bulk-status-container-two>.dropdown-button>.btn:hover {
    box-shadow: none !important;
}

.bulk-manager-container>.dropdown-button>.btn,
.bulk-department-container>.dropdown-button>.btn,
.bulk-assign-to-container>.dropdown-button>.btn,
.bulk-team-container>.dropdown-button>.btn {
    width: 100%;
    height: 40px;
    margin-left: 1%;
    text-align: left;
    font-size: 13px;
    color: $color-thickGray;
    border: 1px solid $color-lightGray;
    border-radius: 20px;
    box-shadow: none !important;
    padding: 10px 10px !important;
}

.bulk-status-container>.dropdown-button>.dropdown-toggle::after,
.bulk-status-container-two>.dropdown-button>.dropdown-toggle::after {

    float: right;
    margin-top: 3%;
}

.bulk-status-container-two>.dropdown-button>.dropdown-toggle::after,
.bulk-manager-container>.dropdown-button>.dropdown-toggle::after,
.bulk-assign-to-container>.dropdown-button>.dropdown-toggle::after,
.bulk-department-container>.dropdown-button>.dropdown-toggle::after,
.bulk-team-container>.dropdown-button>.dropdown-toggle::after {

    float: right;
    margin-top: 3%;
}

.bulk-priority-container {
    width: 88%;
    margin-top: 4%;
    margin-left: 10px;
}

.priority-container-body {
    width: 100%;
    height: 40px;
    border: 1px solid $color-lightGray;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    color: $color-thickGray;
    margin-left: 6px;
}

.tag-container-tag>p {
    padding-top: 10px;
    padding-left: 0px;
    font-size: 15px;
}

.tag-container-add .fa {
    font-size: 1.2rem;
    padding: 10px !important;
}

.bulk-status-container>.dropdown-button>.dropdown-menu,
.bulk-status-container-two>.dropdown-button>.dropdown-menu {
    top: 0px !important;
    left: 210px !important;
}

.bulk-manager-container>.dropdown-button>.dropdown-menu {
    top: 0px !important;
    left: 210px !important;
}

.bulk-assign-to-container>.dropdown-button>.dropdown-menu,
.bulk-department-container>.dropdown-button>.dropdown-menu,
.bulk-team-container>.dropdown-button>.dropdown-menu {
    top: 140px !important;
    left: 210px !important;
}

///////////////////////////////////////////////////////////
.bulk-break-for-submit-section {
    width: 100%;
    border: 1px solid $color-darkWhite !important;
    margin: 5% auto;
}


.bulk-update-submit-section {
    width: 80%;
    height: 50px;
    margin: 3% auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.bulk-update-submit-section-button-one,
.bulk-update-submit-section-button-two {
    width: 50%;
}

.bulk-update-submit-section-button-one {
    .MuiButton-outlinedPrimary {
        width: 60%;
        height: 40px;
        border: 1px solid $color-lightGray !important;
        border-radius: 20px;
        color: $color-lightGray;
        font-size: 13px;

    }
}

.bulk-update-submit-section-button-one {
    .MuiButton-root {
        text-transform: none;
    }
}

.bulk-update-submit-section-button-one {
    .MuiButton-outlined {
        padding: 5px 0px;
    }

}

.bulk-update-submit-section-button-two {
    .MuiButton-outlinedPrimary {
        width: 90%;
        height: 40px;
        border: 1px solid $color-green !important;
        border-radius: 20px;
        color: $color-white;
        font-size: 13px;
        background-color: $color-green;
        margin-left: 16%;
    }
}

.bulk-update-submit-section-button-two {
    .MuiButton-outlinedPrimary:hover {
        width: 84%;
        height: 40px;
        border: 1px solid $color-green !important;
        border-radius: 20px;
        color: $color-white;
        font-size: 12px;
        background-color: $color-green;
        margin-left: 16%;
    }
}

.bulk-update-submit-section-button-two {
    .MuiButton-root {
        text-transform: none;
    }
}

.bulk-update-submit-section-button-two {
    .MuiButton-outlined {
        padding: 5px 0px;
    }
}


.button1-popup-content {
    margin-top: 2%;
    margin-left: 3%;
    padding: 15px;
    height: 170px;
    width: 88%;
    border-radius: 10px;
    overflow: auto;
    background: $color-white;
    opacity: 1;
}

.bulk-update-licensing {
    .MuiButtonBase-root {
        .MuiIconButton-label {
            .MuiSvgIcon-root {
                width: 0.9rem !important;
            }
        }
    }
}

.bulk-update-licensing2 {
    .MuiButtonBase-root {
        .MuiIconButton-label {
            .MuiSvgIcon-root {
                width: 0.9rem !important;
            }
        }
    }
}

.bulk-update-drop-down-search {
    .bulk-header-search {
        height: 30px;
        width: 75%;
        padding-top: 0px !important;
        margin-left: 0%;

        .bulk-search-bar {
            height: 30px;
            width: 80%;
            margin-left: 5%;
            border: 1px solid $color-lightGray;
            border-radius: 20px;
            display: flex;
            justify-content: space-around;

            .MuiInputBase-root {
                height: 30px;

                .MuiInputBase-input {
                    padding: 6px 7px 7px !important;
                }
            }

            .search-icon {
                .MuiSvgIcon-root {
                    margin-top: 4px !important;
                }
            }
        }
    }
}

// Added on Nov 18th

.bulk-update-drawer-bodySection {
    .bulk-update {
        .bulkupdate-container {
            width: 95%;
            margin: 2% auto;

            .bulk-header-search {
                display: flex;
                height: 45px;

                .bulk-search-bar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $color-lightGray;
                    border-radius: 30px;
                    padding: 5px;
                }
            }

            .create-ticket-drawer-priority {
                width: 48%;
                height: 40px;

                .MuiFormControl-root {
                    width: 100%;
                    height: 40px;

                    .MuiInputLabel-formControl {
                        top: -14px !important;
                        left: 14px !important;
                        font-size: 18px;
                        font-weight: 300;

                        .MuiFormLabel-asterisk {
                            color: $color-red;
                        }
                    }

                    .MuiInputBase-root {
                        margin-top: 0px !important;

                        .MuiSelect-select {
                            padding-left: 10px;
                            color: $color-thickGray;
                        }

                        .MuiSelect-icon {
                            right: 12px;
                        }
                    }

                    .MuiInput-underline:before {
                        border-bottom: none !important;
                    }

                    .MuiInput-underline:after {
                        border-bottom: none !important;
                    }

                    .MuiInput-underline {
                        border: 1px solid $color-borderLightGray;
                        border-radius: 20px;
                        height: 40px;
                    }
                }

            }
        }
    }
}

.select-ticket-drawer-ticket-type {
    width: 48%;
    height: 50px;
    display: flex;
    z-index: 999;

    .menu-container {
        width: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;
        z-index: 998;

        .select-drawer-container {
            width: 100%;
            position: relative;
            border: 1px solid $color-lightGray;
            height: 45px;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 18px;
                    color: $color-thickGray;
                    padding-left: 14px;
                    font-weight: 590;
                }
            }

            .selected-drp-dwn-img {
                width: 6%;
                margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 18px;
                }
            }
        }

        .ticket-type-open-dropdown {
            height: 160px;
            overflow: auto;
            padding-top: 40px;
            transition: 0.5s;

        }

        .ticket-type-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 10px;
            left: 0;
            width: 99%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            // z-index: 997 !important;
            transition: 0.5s;
            // overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}

// Added on Nov 18th ends

// Added on Nov 19th

.bulk-update-drawer-bodySection {
    .bulk-update {
        .bulk-update-list-container {
            width: 95%;
            margin: 2% auto;

            .bulk-header-search {
                display: flex;
                height: 45px;

                .bulk-search-bar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $color-lightGray;
                    border-radius: 30px;
                    padding: 5px;
                }
            }

            .create-ticket-drawer-priority {
                width: 48%;
                height: 40px;

                .MuiFormControl-root {
                    width: 100%;
                    height: 40px;

                    .MuiInputLabel-formControl {
                        top: -14px !important;
                        left: 14px !important;
                        font-size: 18px;
                        font-weight: 300;

                        .MuiFormLabel-asterisk {
                            color: $color-red;
                        }
                    }

                    .MuiInputBase-root {
                        margin-top: 0px !important;

                        .MuiSelect-select {
                            padding-left: 10px;
                            color: $color-thickGray;
                        }

                        .MuiSelect-icon {
                            right: 12px;
                        }
                    }

                    .MuiInput-underline:before {
                        border-bottom: none !important;
                    }

                    .MuiInput-underline:after {
                        border-bottom: none !important;
                    }

                    .MuiInput-underline {
                        border: 1px solid $color-borderLightGray;
                        border-radius: 20px;
                        height: 40px;
                    }
                }

            }
        }
    }
}

.select-ticket-drawer-status {
    width: 100%;
    height: 50px;
    display: flex;

    .menu-container-status {
        width: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;
        z-index: 1000000;

        .status-drawer-container {
            width: 100%;
            position: relative;
            border: 1px solid $color-lightGray;
            height: 45px;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 18px;
                    color: $color-thickGray;
                    padding-left: 14px;
                    font-weight: 590;
                }
            }

            .selected-drp-dwn-img {
                width: 6%;
                margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 12px;
                }
            }
        }

        .ticket-type-open-dropdown {
            height: 160px;
            overflow: auto;
            padding-top: 40px;
            transition: 0.5s;

        }

        .ticket-status-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 10px;
            left: 0;
            width: 99.5%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            // z-index: 997 !important;
            transition: 0.5s;
            // overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}

// ----Status css ends

.select-ticket-drawer-tags {
    width: 100%;
    height: 50px;
    display: flex;

    .menu-container-tags {
        width: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;
        z-index: 999995;

        .tags-drawer-container {
            width: 100%;
            position: relative;
            border: 1px solid $color-lightGray;
            height: 45px;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 18px;
                    color: $color-thickGray;
                    padding-left: 14px;
                    font-weight: 590;
                }
            }

            .selected-tags-drp-dwn-img {
                width: 6%;
                margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 20px;
                }
            }
        }

        .ticket-type-open-dropdown {
            height: 160px;
            overflow: auto;
            padding-top: 40px;
            transition: 0.5s;

        }

        .ticket-tags-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 10px;
            left: 0;
            width: 99.5%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            // z-index: 997 !important;
            transition: 0.5s;
            // overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }

        .bulk-ticket-src-check {
            .Mui-checked {
                color: $color-green !important;
            }

            .MuiButtonBase-root {
                padding: 0px !important;

                .MuiIconButton-label {
                    .MuiSvgIcon-root {
                        width: 16px !important;
                    }
                }
            }
        }


        .bulk-ticket-src-check {
            width: 10%;
        }
    }
}

// Tags ends

.select-ticket-drawer-priority {
    width: 100%;
    height: 50px;
    display: flex;

    .menu-container-priority {
        width: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;
        z-index: 999999;

        .priority-drawer-container {
            width: 100%;
            position: relative;
            border: 1px solid $color-lightGray;
            height: 45px;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 18px;
                    color: $color-thickGray;
                    padding-left: 14px;
                    font-weight: 590;
                }
            }

            .selected-drp-dwn-img {
                width: 6%;
                margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 12px;
                }
            }
        }

        .ticket-type-open-dropdown {
            height: 160px;
            overflow: auto;
            padding-top: 40px;
            transition: 0.5s;

        }

        .ticket-priority-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 10px;
            left: 0;
            width: 99.5%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            // z-index: 997 !important;
            transition: 0.5s;
            // overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}

// Priority ends

// Added on Nov 19th ends

// Manager section
.select-ticket-drawer-manager {
    width: 100%;
    height: 50px;
    display: flex;

    .menu-container-manager {
        width: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;
        z-index: 999990;

        .manager-drawer-container {
            width: 100%;
            position: relative;
            border: 1px solid $color-lightGray;
            height: 45px;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 18px;
                    color: $color-thickGray;
                    padding-left: 14px;
                    font-weight: 590;
                }
            }

            .selected-drp-dwn-img {
                width: 6%;
                margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 12px;
                }
            }
        }

        .ticket-type-open-dropdown {
            height: 160px;
            overflow: auto;
            padding-top: 40px;
            transition: 0.5s;

        }

        .ticket-manager-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 10px;
            left: 0;
            width: 99.5%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            // z-index: 997 !important;
            transition: 0.5s;
            // overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}

// Assign to
.select-ticket-drawer-assignto {
    width: 100%;
    height: 50px;
    display: flex;

    .menu-container-assignto {
        width: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;
        z-index: 999985;

        .assignto-drawer-container {
            width: 100%;
            position: relative;
            border: 1px solid $color-lightGray;
            height: 45px;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 18px;
                    color: $color-thickGray;
                    padding-left: 14px;
                    font-weight: 590;
                }
            }

            .selected-drp-dwn-img {
                width: 6%;
                margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 12px;
                }
            }
        }

        .ticket-type-open-dropdown {
            height: 160px;
            overflow: auto;
            padding-top: 40px;
            transition: 0.5s;

        }

        .ticket-assignto-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 10px;
            left: 0;
            width: 99.5%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            // z-index: 997 !important;
            transition: 0.5s;
            // overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}

// Department data
.select-ticket-drawer-department {
    width: 100%;
    height: 50px;
    display: flex;

    .menu-container-department {
        width: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;
        z-index: 999980;

        .department-drawer-container {
            width: 100%;
            position: relative;
            border: 1px solid $color-lightGray;
            height: 45px;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 18px;
                    color: $color-thickGray;
                    padding-left: 14px;
                    font-weight: 590;
                }
            }

            .selected-drp-dwn-img {
                width: 6%;
                margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 12px;
                }
            }
        }

        .ticket-type-open-dropdown {
            height: 160px;
            overflow: auto;
            padding-top: 40px;
            transition: 0.5s;

        }

        .ticket-department-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 10px;
            left: 0;
            width: 99.5%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            // z-index: 997 !important;
            transition: 0.5s;
            // overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}

// Teams data
.select-ticket-drawer-teams {
    width: 100%;
    height: 50px;
    display: flex;

    .menu-container-teams {
        width: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;
        z-index: 999975;

        .teams-drawer-container {
            width: 100%;
            position: relative;
            border: 1px solid $color-lightGray;
            height: 45px;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 18px;
                    color: $color-thickGray;
                    padding-left: 14px;
                    font-weight: 590;
                }
            }

            .selected-drp-dwn-img {
                width: 6%;
                margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 12px;
                }
            }
        }

        .ticket-type-open-dropdown {
            height: 160px;
            overflow: auto;
            padding-top: 40px;
            transition: 0.5s;

        }

        .ticket-teams-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 10px;
            left: 0;
            width: 99.5%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            // z-index: 997 !important;
            transition: 0.5s;
            // overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}

// Projects data
.select-ticket-drawer-projects {
    width: 100%;
    height: 50px;
    display: flex;

    .menu-container-projects {
        width: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;
        z-index: 999970;

        .projects-drawer-container {
            width: 100%;
            position: relative;
            border: 1px solid $color-lightGray;
            height: 45px;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    font-size: 18px;
                    color: $color-thickGray;
                    padding-left: 14px;
                    font-weight: 590;
                }
            }

            .selected-drp-dwn-img {
                width: 6%;
                margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 12px;
                }
            }
        }

        .ticket-type-open-dropdown {
            height: 160px;
            overflow: auto;
            padding-top: 40px;
            transition: 0.5s;

        }

        .ticket-projects-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 10px;
            left: 0;
            width: 99.5%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            // z-index: 997 !important;
            transition: 0.5s;
            // overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;
            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}