@import '../../variables';


$borderRadius: 100px;
$lightGrayDashedBorder: 1px dashed $color-lightGray;
$lightGraySolidBorder: 1px solid $color-lightGray;


%d-flex {
  display: flex;
} 
%d-flex-align-center {
  @extend %d-flex;
  align-items: center;
}
%d-flex-space-btwn {
  @extend %d-flex;
  justify-content: space-between;
}
%d-flex-align-justify-center {
  @extend %d-flex-align-center;
  justify-content: center;
}
%d-flex-align-center-space-btwn {
  @extend %d-flex-align-center;
  justify-content: space-between;
} 
%subHeading {
  font-size: 1.15rem;
  font-family: 'helveticaNeueCondensedBold';
  font-stretch: normal;
  font-style: normal;
  color: $color-lightViolet;
  font-weight: 600;
  text-transform: uppercase;
}
%popupCmnProperiets {
  position: absolute;
  padding: 10px;
  z-index: 100;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background: #FFFFFF;
}
%multi-select-custom {
  
  .MuiInput-underline:before {
    border: 0;
  }
  .MuiInput-underline:after {
    border: 0; 
  }
  .MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(14px, 14px) scale(1);
  }
  .MuiInputLabel-shrink {
    transform: translate(24px, -6.5px) scale(0.75);
    transform-origin: top left;
  }
  .MuiInputBase-root {
    margin: 0;
    height: 50px;
    .MuiSelect-root {
      margin-left: 24px;
    }
    .MuiSvgIcon-root {
      margin-right: 10px;
    }
  }
}
 
@mixin heighWidth($heigh, $width) {
  height: $heigh;
  width: $width;
}
@mixin placeholder($background, $position, $repeat, $size) {
  background: $background;
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}
.flex-container {
  @extend %d-flex-space-btwn;
  margin: 2% 0;
}
.create-habit-footer-section {
  user-select: none;
  border-top: $lightGraySolidBorder;
  @extend %d-flex-space-btwn;
  width: 80%;
  margin: auto;
  padding: 25px;
  div:first-child {
    @extend %d-flex-align-center;
    .Save-as-an-Idea-checkbox {
      padding: 0;
      margin-left: 5px;
      width: 20px;

      span {
        svg {
          width: 20px;
        }
      }
    }
  }
  .ch-submit-button {
    background-color: #41E590;
    box-shadow: none;
    border-radius: 100px;
    padding: 15px;
    width: 25%;
    margin-right: 6%;
    color: #FFFFFF;

    span {
      text-transform: capitalize;
      font-size: 1.2rem;
    }
  }

}
.create-habit-layout {
  user-select: none;
  width: 80%;
  height: 100%;
  padding-top: 5%;
  margin: 0 auto auto auto;
  @extend %d-flex-space-btwn;
  position: relative;
  .create-habit-close-icon {
    cursor: pointer;
    position: absolute;
    top: 11%;
    left: -9%;
  }

  .create-habit-main-section {
    width: 65%;
    .create-habit-header-section{
      p:nth-child(1) {
        font-size: 40px;
        font-weight: 900;
        font-stretch: condensed;
        letter-spacing: 0.96px;
        text-align: left;
        color: $color-lightViolet;
        font-family: 'helveticaNeueCondensedBold';
        margin-bottom: 0px!important;
      }
      p:nth-child(2) {
        font-size: 12px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.36px;
        text-align: left;
        color: $color-lightGray;
        font-family: "helveticaNeueLight";
      }
    }    
    .create-habit-title-container {
      @extend %d-flex-align-center-space-btwn;
      border-bottom: $lightGraySolidBorder;
      position: relative;
      .colorPallet {
        cursor: pointer;
      }
      .MuiFormControl-root {
        margin-left: 15px;
        font-size: 40px;
        width: 80%;
        .MuiInputBase-root {
          font-size: 1.875rem;
          font-weight: 600;
          color:$color-thickGray;

        }
        .MuiInput-underline:before {
          border: 0;
        }
        .MuiInput-underline:after {
          border: 0;
        }
      }

      .create-habit-fav-button {
        border: $lightGraySolidBorder;
        background: transparent;
        height: 35px;
        font-family: 'helveticaNeueCondensedBold';
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        box-shadow: none;
        .MuiFab-label {
          @extend %d-flex-align-center;
          span {
            @extend %d-flex-align-center;
            font-family: 'helveticaNeueCondensedBold';
            color: $color-lightGray;;
          }
          
          img {
            margin: 0 5px;
            height: 15px;
          }
        }
      }
    }    
    .multi-select-dropdown-menu {
      position: relative;
      border-radius: $borderRadius;
      border: $lightGraySolidBorder;
      width: 49%;
      label {
        background: $color-white;
        display: flex;
        img {
          height: 20px;
        }
        span {
          margin: 0 2px 0 5px;
          align-self: flex-end;
          font-size: 1.2rem;
        }
        i {
          font-size: 0.5rem;
          margin-left: 5px;
          color: $color-red;
        }
      }
      @extend %multi-select-custom;
    }

    .create-habit-start-date {
      width: 49%;
      border-radius: $borderRadius;
      @extend %d-flex-align-center;
      padding: 0 15px;
      border: $lightGraySolidBorder;


      .date-picker-style {
          .react-date-picker__wrapper {
            border: thin solid transparent;

            .react-date-picker__inputGroup {
              min-width: 0px;
              width: 0;
              flex-grow: 1;
              display: flex;
              padding: 0px 0px;
              align-items: baseline;
              box-sizing: content-box;
              overflow: hidden;
            }

            .react-date-picker__calendar-button {
              background: url('../../assets/create-habit/Icon feather-calendar.svg');
              background-repeat: no-repeat;
              background-size: cover;
              @include heighWidth(27px, 24px);

              svg {
                display: none;
              }
            }

            .react-date-picker__calendar-button:focus {
              border: 0;
            }
          
        }
      }

      .MuiFormControl-root {
        margin: 7px 0 0 13px;
        .MuiInputBase-root {
          color: $color-thickGray;
          font-size: 1.2rem;
          font-weight: 100 !important;
        }
        label {
          color: $color-thickGray;
          font-size: 1.2rem;
          font-weight: 100 !important;
        }
        .MuiInputLabel-formControl {
          top: 0;
          left: 0;
          position: absolute;
          transform: translate(0, 5px) scale(1);
        }
        .MuiInputLabel-animated {
          transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        }
        .MuiInputBase-root {
          margin: 0%;
        }
        .MuiInput-underline:before, .MuiInput-underline:after {
          border: 0;
        }
      }
    }
    .build-quit-section {
      @extend %d-flex-align-center;
      margin: 2% 0;
      padding: 2px 2px;
      span {
        @extend %subHeading;
      }
    }
    .custome-button {
      box-shadow: none;
      background: 0;
      border-radius: $borderRadius;
      margin-left: 2%;
      width: 100px;
      span {
        font-size: 1rem;
      }
    }
    .custome-button-dashed {
      border: $lightGrayDashedBorder;
    }
    .custome-button-active {
      background: $color-lightPurple;
      border: 1px dashed transparent;
      color: $color-strongPurple;
    }
    .set-your-goal-section {
      @extend %d-flex;

      // div {
      //   width: 50%;
      // }
      .left-section {
        width: 50%;
        span:nth-child(1) {
          @extend %subHeading;
        }
        .left-section-content {
          margin-top: 10px;
          width: 100%;
          @extend %d-flex-align-center;

          span {
            margin-left: 10px;
            font-size: 1.2rem;
            font-family: 'helveticaNeueCondensedBold';
            font-weight: 300;
            color: $color-lightGray;
          }
        }
        .number-times-perday {
          @extend %d-flex;
          border-radius: $borderRadius;
          height: 40px;
          width: 150px;
          border: 1px solid $color-lightPurple;
          div {
            @extend %d-flex-align-justify-center;
            cursor: pointer;
            width: 50%;
          }
          div:nth-child(2){
            border-left: 1px solid $color-lightPurple;
            border-right: 1px solid $color-lightPurple;
            @extend %subHeading;
          }
        }
        span:nth-child(2) {

        }
      }
      .right-section {
        width: 50%;
        span:nth-child(1) {
          @extend %subHeading;
        }
        .right-section-content {
          @extend %d-flex-align-center;
          width: 100%;
          .timer-section {
            cursor: pointer;
            position: relative;
            margin-top: 13px;
            @extend %d-flex-align-justify-center;
            height: 35px;
            width: 100px;
            border-radius: 12px;
            border: 1px solid $color-lightPurple;
            font-size: 0.9rem;
            margin-right: 5px;
          }

        }
      }
    }
    .goals-on-which-days-section {
      margin-top: 10px;
      @extend %d-flex-align-center-space-btwn;
      span {
        @extend %subHeading;
      }

      .days-button-container {
        @extend %d-flex-align-center;
        width: 65%;
        .day-button {
          @include heighWidth(50px, 50px);
          @extend %d-flex-align-justify-center;
          margin-right: 10px;
          border-radius: $borderRadius;
          color: $color-strongPurple;
          cursor: pointer;
        }
        .non-active-day-button {
          border: 1px solid $color-lightPurple;
        }
        .active-day-button {
          background: $color-lightPurple;
          border: 1px solid transparent;
        }
      }
    }
    .location-tags-notes-section {
      @extend %d-flex-align-center;
      margin: 10px 0;
      
      .left-section {
        width: 50%;

        .create-habit-location {
          width: 95%;
          height: 50px;
          border-radius: $borderRadius;
          @extend %d-flex-align-center;
          padding: 0 15px;
          margin: 0 0;
          border: $lightGraySolidBorder;
          .MuiFormControl-root {
            margin: 7px 0 0 13px;
            .MuiInputBase-root {
              color: $color-thickGray;
              font-size: 1.2rem;
            }
            label {
              color: $color-thickGray;
              font-size: 1.2rem;
            }
            .MuiInputLabel-formControl {
              top: 0;
              left: 0;
              position: absolute;
              transform: translate(0, 5px) scale(1);
            }
            .MuiInputLabel-animated {
              transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
            }
            .MuiInputBase-root {
              margin: 0%;
            }
            .MuiInput-underline:before, .MuiInput-underline:after {
              border: 0;
            }
          }
        }   
        
        .multi-select-dropdown-menu {
          border-radius: $borderRadius;
          border: $lightGraySolidBorder;
          width: 95%;
          margin: 10px 0 0 0;
          label {
            background: $color-white;
            display: flex;
            img {
              height: 20px;
            }
            span {
              margin: 0 2px 0 5px;
              align-self: flex-end;
              font-size: 1.2rem;
            }
            i {
              font-size: 0.5rem;
              margin-left: 5px;
              color: $color-red;
            }
          }
          @extend %multi-select-custom;
          .MuiInputBase-root {
            margin: 0;
            height: 50px;
            svg {
              top: calc(50% - 10px);
              color: rgba(0, 0, 0, 0.54);
              right: 10px;
              position: absolute;
              pointer-events: none;
              @include placeholder(url('../../assets/create-habit/Group 11382.svg'), center, no-repeat, contain);
            }
          }
        }        
      }
      .right-section {
        width: 50%;
        @extend %d-flex-align-center;
        textarea {
            height: 120px !important;
            width: 95%;
            padding: 10px;
            margin: auto;
            border: $lightGraySolidBorder;
            border-radius: 15px;
        }
      }
    }
  }




  .create-habit-sub-section {
    width: 30%;
    .create-habit-templates-section {
      margin: 70px auto auto auto;
      border-top: 2px solid $color-green;
      border-right: $lightGrayDashedBorder;
      border-left: $lightGrayDashedBorder;
      border-bottom: $lightGrayDashedBorder;
      background: $color-lightWhite;
      border-radius: 0 0 15px 15px;
  
      .create-habit-templates-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
        font-size: 0.9rem;
  
        span:nth-child(1) {
          @extend %subHeading;
        }
  
        span:nth-child(2) {
          color: $color-skyBlue;
          font-size: 0.7rem;
          text-transform: uppercase;
  
        }
      }
  
      .habit-templates-card {
        padding: 5px 10px;
        display: flex;
  
        .habit-templates-card-details {
          width: 80%;
          border-bottom: $lightGrayDashedBorder;
  
          p:nth-child(1) {
            color: $color-thickGray;
            text-transform: capitalize;
            margin: 0;
  
          }
  
          p:nth-child(2) {
            color: $color-thickGray;
            font-size: 0.6rem;
            text-transform: capitalize;
            margin: 0;
          }
        }
  
        .habit-templates-card-image {
          width: 20%;
          padding: 2px;
  
          img {
            width: 100%;
          }
  
        }
      }
    }



  }
  .create-habit-attachment {
    margin: 20px 0;
    .file-attach-button {
      @include heighWidth(30px, 10px);
      background: url('../../assets/create-habit/Group 11382.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      cursor: pointer;
    }
    span:nth-child(1) {
      @extend %subHeading;
    }
    div {
      border: $lightGrayDashedBorder;
      height: 100px;
      border-radius: 10px;
      @extend %d-flex-align-justify-center;
      flex-direction: column;
      text-align: center;
    }
    span:nth-child(2) {
      color: $color-strongPurple;
    }
  }
  .share-through-email-section {
    div:nth-child(1) {
      @extend %d-flex-align-center;
      span:nth-child(1) {
        @extend %subHeading;
      }
      .share-through-email-checkbox {
        padding: 0;
        margin-left: 5px;
        width: 20px;
        span {
          svg {
            width: 20px;
          }
        }
      }
    }

  }

  .create-habit-customised-dropdown-menu {
    border: $lightGraySolidBorder;
    border-radius: $borderRadius;
    margin-bottom: 20px;
    label {
      background: $color-white;
      display: flex;
    }
    .MuiInputLabel-outlined {
      transform: translate(46px, 20px) scale(1);
    }
    .MuiInputLabel-outlined.MuiInputLabel-shrink {
      transform: translate(14px, -6px) scale(0.75);
    }
    div {
      @extend %d-flex-align-center;

      img {
        @include heighWidth(17px, 30px);
        margin-left: 10px;
        border-radius: $borderRadius;
      }

      .MuiInputBase-root {
        border-radius: 0 100px 100px 0  !important;
        width: 88%;
        margin-left: auto;
        .MuiSelect-root {
          padding: 18.5px 0;
          background: none;
        }
      }   
      fieldset {
        border: 0;
      }       
    }

    width: 100%;
    fieldset {
      border: $lightGraySolidBorder;
      border-radius: $borderRadius;
    }
  }  
}

//////////////////////////////////////////////////////////////

.color-pallet-popup {
  @extend %popupCmnProperiets;
  @include heighWidth(130px, 175px);
  top: 70px;
  left: -10px;

  span {
    @extend %subHeading;
    font-size: 0.9rem;
  }
  .twitter-picker  {
    box-shadow: none !important;
    width: 162px !important;
    div  {
      padding: 0 !important;
      span {
        div {
          height: 17px !important;
          width: 17px !important;
        }
      }
      div:last-child {
      }
    }
  }
}
.color-pallet-popup:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dadada;
  top: -11px;
  left: 13px;
}

.set-time-popup {
  @extend %popupCmnProperiets;
  @include heighWidth(150px, 120px !important);
  top: 44px;
  left: -10px;

  .time-scroll-container {
    user-select: none;
    @include heighWidth(150px, 100px !important);
    overflow: auto;
    div:nth-child(3) {
      background-color: $color-borderLightGray;
    }
    li {
      width: 90px;
      padding-left: 5px;
      color: $color-thickGray;
      list-style: none;
    }
    li:hover {
      background: rgba(78, 88, 169, 0.1);
    }
  }
}
.set-time-popup:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dadada;
  top: -11px;
  left: 43%;
}
.create-habit-body-right {
  width: 30%;
  border-left: 1px solid $color-darkWhite;
}
.create-habit-company-details-edit {
  margin-left: 40px;
}
.create-habit-company-details {
  width: 200%;
  height: 160px;
  border: 1px dashed $color-skyBlue;
  margin: 10% auto;
  border-radius: 8px;
}

.create-habit-company-description {
  margin-top: 3%;
  margin-left: 3%;
  display: flex;
}

.create-habit-company-description>img {
  width: 14%;
}
.create-habit-company-text>p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 5px !important;
}

.create-habit-company-text-one {
  font-size: 16px;
  font-weight: bolder;
  color: $color-thickGray;
}

.create-habit-company-text-two {
  color: $color-lightGray;
}

.create-habit-company-details-edit {
  margin-left: 40px;
}
.department-and-team-name {
  display: flex;
}

.department-and-team-name>p {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  margin-left: 12px !important;
  // margin-right: 15px!important;
  color: $color-lightGray;
}
.team-name {
  border-left: 1px solid $color-lightGray;
  padding-left: 10px;
}

.create-habit-company-details>p {
  margin-left: 10px !important;
  color: $color-skyBlue;
}
.create-habit-layout .create-habit-sub-section {
  width: 80%;
  margin: 5% auto;
}
