@import '../../../variables';
@import '../../../extends';
@import '../../../mixins';

/*----------------------Media Query---------------------*/
 
/*    Device = Most of the Smartphones Mobiles (Portrait)  Screen = B/w 320px to 479px  */
@media (min-width: 320px) and (max-width: 480px) {

  
}


/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {


}


/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .tsk-lstng-collapse-sidebar-header{
        font-size: rem(12px)!important;
    }

    .tsk-lstng-collapse-sidebar-search-container{
        .tsk-lstng-sidebar-srch-field {
            .MuiInputBase-root {
              .MuiInputBase-input {
                font-size: rem(12px)!important;
              }
            }
          }
          .tsks-lstng-section-elements {
            .tsks-lstng-element-name{
                font-size: rem(13px)!important;
            }
        }
    }
  
}

/* Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {

    .tsk-lstng-collapse-sidebar-header{
        font-size: rem(12px)!important;
    }
    .tsk-lstng-collapse-sidebar-search-container{
        .tsk-lstng-sidebar-srch-field {
            .MuiInputBase-root {
              .MuiInputBase-input {
                font-size: rem(12px)!important;
              }
            }
          }
          .tsks-lstng-section-elements {
            .tsks-lstng-element-name{
                font-size: rem(9px)!important;
            }
            .tsks-lstng-while-active-element-count{
              font-size: rem(7px)!important;
          }
        }
    }

}


/* Device = Laptops, Desktops Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
    .tsk-lstng-collapse-sidebar-header{
        font-size: rem(15px)!important;
    }
    .tsk-lstng-collapse-sidebar-search-container{
        .tsk-lstng-sidebar-srch-field {
            .MuiInputBase-root {
              .MuiInputBase-input {
                padding: 5px!important;
                font-size: rem(14px)!important;
              }
            }
          }
    }

    .tsk-lstng-sidebar-tsk-section{
        .tsk-lstng-section-header{
            .tsk-lstng-section-header-name{
                font-size: rem(14px)!important;
            }
        }
        .tsks-lstng-section-elements {
            .tsks-lstng-element-name{
                font-size: rem(14px)!important;
            }
            .tsks-lstng-while-active-element-count{
                font-size: rem(13px)!important;
            }
        }
    }
  

}


/* Device = Desktops Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) and (max-width: 1600px) {
    .tsk-lstng-collapse-sidebar-header{
        font-size: rem(19px)!important;
    }

    .tsk-lstng-collapse-sidebar-search-container{
        .tsk-lstng-sidebar-srch-field {
            .MuiInputBase-root {
              .MuiInputBase-input {
                  padding: 7px!important;
                font-size: rem(15px)!important;
              }
            }
          }
    }

    .tsk-lstng-sidebar-tsk-section{
        .tsk-lstng-section-header{
            .tsk-lstng-section-header-name{
                font-size: rem(16px)!important;
            }
        }

        .tsks-lstng-section-elements {
            .tsks-lstng-element-name{
                font-size: rem(15px)!important;
            }
            .tsks-lstng-while-active-element-count{
                font-size: rem(14px)!important;
            }
            
        }
    }
}


@media (min-width: 1601px) and (max-width: 1910px) {
    .tsk-lstng-collapse-sidebar-header{
        font-size: rem(26px)!important;
    }

    .tsk-lstng-collapse-sidebar-search-container{
        .tsk-lstng-sidebar-srch-field {
            .MuiInputBase-root {
              .MuiInputBase-input {
                font-size: rem(20px);
              }
            }
          }
    }

    .tsk-lstng-sidebar-tsk-section{
        .tsk-lstng-section-header{
            .tsk-lstng-section-header-name{
                font-size: rem(20px)
            }
        }
        .tsks-lstng-section-elements {
            .tsks-lstng-element-name{
                font-size: rem(18px);
            }
            .tsks-lstng-while-active-element-count{
                font-size: rem(16px);
            }
        }
    }
}

$transitionSpeed: 0.3s;

.tsk-lstng-collapse-sidebar-header {
  @extend %d-flex-align-justify-center;
  width: 59.1%;
//   border: 1px solid;
  margin: 12.9% 30.8% 4.1% 10.1%;
//   font-size: 1.5rem;
    font-size: rem(30px);
  color: $color-lightViolet;
  text-align: center;
  height: 3.3%;;
  line-height: 0.83;
  letter-spacing: 0.6px;
  font-weight: 600;
font-family: "helveticaNeueLight";
// font-family: 'helveticaNeueBold';
  span {
    margin-left: 1px;
    // opacity: 0.3;
    color:  rgba(208, 207, 236, 0.5);
  }
}
.tsk-lstng-collapse-sidebar-search-container {
  width: 79.3%;
  height: 4.6%;
  margin: 0% 10.1% 3.9% 10.7%;
  border-radius: 100px;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.09);
  background: $color-white;
  @extend %d-flex-space-btwn;

  
  .tsk-lstng-sidebar-srch-field {
    width: 83.9%;
    height: 100%;
    .MuiInputBase-root {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      .MuiInputBase-input {
        height: 100%;
        padding-left: 12px;
        font-size: rem(20px);
        text-align: left;
      }
      fieldset {
        border: 1px solid transparent;
      }
    }
  }
  img {
    width: 8%;
    margin: 0 10px 0 0;
  }
}

.side-navbar-right-container {
  // position: relative;
  // @extend %d-flex-column;
  // align-items: center;
  // transition: $transitionSpeed;
  // background: $color-exDarkPurple;
  // padding: 0 15px;
  // box-sizing: border-box;
  // white-space: nowrap;

  .tasks-scrollable-section {
    height: 300px;
    height: 84%;
    // overflow: auto;
  }
  .tsk-lstng-sidebar-tsk-section {
    width: 80.1%;
    margin: 8% 9.2% 3.9% 10.7%;
    height: 24.4%;
    // border: 1px solid;
    // height: 30%;
    // overflow: auto;
    // padding: 0 15px;
    .tsk-lstng-section-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: 0% 4.9% 2.7% 4.9%;
    //   padding: 0 10px;
      text-transform: capitalize;
      .tsk-lstng-section-header-name {
        color: $color-thickGray;
        font-weight: bold;
        // font-weight: 550;
        letter-spacing: 0.4px;
        line-height: 1.2;
        font-size: rem(20px);
        font-family: HelveticaNeue-MediumCond;
        font-stretch: condensed;
      }
      img{
          width: 13.5%;
          height: 11.5%;
      }
    }

    .tsks-lstng-section-elements {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 11px;
      color: rgba(131, 131, 131, 0.9);
      width: 100%;
      height: 16%;
      border-radius: 7px;
      cursor: pointer;
      transition: 0.6s;
      margin: 3% 0;
      

      .tsks-lstng-element-name {
          font-size: rem(18px);
          font-weight: 500;
          line-height: 1.33;
          letter-spacing: 0.36px;
          text-align: left;

      }

      .tsks-lstng-while-non-element-count {
        @extend %d-flex-align-justify-center;
        background: $color-exLightPurple;
        width: 15%;
        height: 85%;
        border-radius: 6px;
        transition: 0.6s;
      }
      .tsks-lstng-while-active-element-count {
        @extend %d-flex-align-justify-center;
        z-index: 10;
        width: 15%;
        height: 85%;
        border-radius: 6px;
        font-size: rem(16px);
        line-height: 1;
        letter-spacing: 0.32px;
        text-align: center;
      }
    }
    .tsks-lstng-section-elements:hover {
      background: $color-exLightPurple;
      color: $color-strongPurple;
    }
    .tsks-lstng-section-elements:hover .tsks-lstng-while-non-element-count {
      background: transparent;
    }
    .tsks-lstng-active-section-element {
      background: $color-exLightPurple;
      font-weight: 800;
      color: $color-strongPurple;
      font-family: HelveticaNeueCondensedBlack;
    }
  }
}


.__react_component_tooltip.type-light{



}
.__react_component_tooltip{
  border-radius: 20px!important;
  font-size: 12px!important;
  font-weight: 300;
  color: $color-thickGray!important;
  padding: 6px 25px!important;
}
.leftmenusectt{

}
